.idea
*.pro.user
*.pro.user.*
release
build
Dopecoin-qt.app
bitcoin_*.qm
qrc_bitcoin.cpp
*.dmg
*.autosave
Makefile.Debug
Makefile.Release
object_script.Dopecoin-qt.Debug
object_script.Dopecoin-qt.Release
dopecoind
*.o
*.P
.nfs.*
